/*
  Parfait - findbar.css
  https://github.com/reizumii/parfait
*/

.browserContainer > findbar {
  position: absolute;
  top: 16px;
  right: 16px;
  grid-area: unset !important;
  width: var(--pf-findbar-width);
  padding-block: 0 !important;
  background: var(--pf-panel-background-color) !important;
  border: 1px solid var(--pf-border-color) !important;
  border-radius: var(--pf-border-radius-md);
  box-shadow: var(--pf-box-shadow-md);
  transition: top var(--pf-ts-25) !important;
  visibility: visible !important;
  --findbar-height: 40px !important;

  &[hidden] {
    display: flex !important;
    top: -100px;
  }
  @starting-style {
    top: -100px;
  }
  @media -moz-pref("parfait.theme.blur.enabled") {
    backdrop-filter: var(--pf-acrylic-filter);
    background: color-mix(in srgb, var(--pf-panel-background-color), transparent 12%) !important;
  }
  .findbar-container {
    flex-wrap: wrap;
    margin-inline-start: 0 !important;
    padding-inline-start: 0 !important;
    height: 100% !important;
  }
  .findbar-closebutton {
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0 !important;
    padding: 4px !important;
    border-radius: var(--pf-border-radius-sm) !important;
    border: none !important;
  }
  hbox[anonid="findbar-textbox-wrapper"] {
    width: var(--pf-findbar-width) !important;
    padding: 8px 36px 8px 4px;
    border-bottom: 1px solid var(--pf-border-color-light);
    gap: 4px;

    .findbar-textbox {
      width: 100% !important;
      min-height: auto !important;
      background: none !important;
      border: none !important;
      box-shadow: none !important;
      outline: none !important;
    }
    &:has(> .findbar-textbox.minimal) {
      border-bottom: none;
    }
    toolbarbutton {
      margin: 0 !important;
      padding: 4px !important;
      border-radius: var(--pf-border-radius-sm) !important;
    }
  }
  checkbox {
    margin: 8px 2px !important;

    .checkbox-label-box {
      border-radius: var(--pf-border-radius-sm);
    }
    &:hover .checkbox-label-box {
      background-color: var(--pf-toolbarbutton-background-color-hover);
    }
    &[checked] .checkbox-label-box {
      background-color: color-mix(in srgb, var(--pf-accent-color), transparent 80%);
      --pf-icon-color: var(--pf-accent-text-color);
    }
    .checkbox-icon {
      display: block !important;
      margin-inline-end: 0 !important;
      padding: 4px;
      fill: var(--pf-icon-color);
      -moz-context-properties: fill;

      .findbar-highlight & {
        content: var(--pf-icon-search-highlight);
      }
      .findbar-case-sensitive & {
        content: var(--pf-icon-search-case);
      }
      .findbar-match-diacritics & {
        content: var(--pf-icon-search-diacritics);
      }
      .findbar-entire-word & {
        content: var(--pf-icon-search-word);
      }
    }
    &.findbar-highlight {
      margin-inline-start: 8px !important;
    }
    .split-view-panel .findbar-container > &:not([hidden]) {
      display: flex !important;
    }
  }
  .checkbox-check,
  .checkbox-label,
  .findbar-find-status[data-l10n-id="findbar-wrapped-to-top"] {
    display: none;
  }
}
