/*
  Parfait - tabbar.css
  https://github.com/reizumii/parfait
*/

/* tabs layout */
:root {
  --tab-margin-block: 2px !important;
}
#tabbrowser-tabs {
  --pf-tab-icon-end-margin: calc((var(--tab-min-height) - var(--icon-size)) / 2);
  --tab-min-height: var(--pf-tab-height);
  --tab-icon-end-margin: var(--pf-tab-icon-end-margin) !important;
  --tab-background-color-selected: var(--pf-tab-selected-background-color);
  --tab-box-shadow-selected: var(--pf-tab-selected-box-shadow);

  /* horizontal layout */
  &[orient="horizontal"] {
    --tabstrip-min-height: calc(var(--tab-min-height) + (var(--tab-margin-block) * 2));
    --tab-margin-block: var(--pf-navbar-padding-block);
    --tab-inline-padding: var(--tab-icon-end-margin) !important;
    --tab-border-radius: var(--pf-border-radius-hl);

    .tabbrowser-tab[selected] {
      --tab-min-width-pref: 150px;
    }
    tab-split-view-wrapper .tabbrowser-tab[selected] {
      --tab-min-width-pref: unset;
    }
    .tab-background:not([selected]),
    tab-split-view-wrapper {
      background-color: var(--tab-background-color);
      --tab-background-color: var(--pf-toolbarbutton-background-color-inactive);
    }
    #tabbrowser-arrowscrollbox-periphery {
      margin-inline-start: var(--pf-toolbarbutton-gap);
      padding-block: var(--pf-navbar-padding-block);
    }
  }
  /* vertical layout */
  &[orient="vertical"] {
    width: 100%;
    grid-gap: var(--tab-margin-block) !important;
    --tab-collapsed-background-width: var(--pf-tab-height);
    --tab-inner-inline-margin: var(--pf-separation) !important;
    --tab-inline-padding: calc(var(--tab-icon-end-margin) + var(--pf-separation)) !important;
    --tab-border-radius: var(--pf-border-radius-md);

    /* vl: new tab button */
    #tabbrowser-arrowscrollbox:not([overflowing]) #tabbrowser-arrowscrollbox-periphery {
      margin-block-start: calc(1px + (var(--tab-margin-block) * 2)) !important;
    }
    &:not([overflow]) #tabs-newtab-button::before {
      border-top: 1px solid var(--pf-border-color-light);
      top: calc(-1px - (var(--tab-margin-block) * 2));
      inset-inline: var(--tab-inner-inline-margin) !important;
      pointer-events: none;
    }
    #vertical-tabs-newtab-button {
      margin-top: calc(-1px + (var(--tab-margin-block) * 2)) !important;

      &::before {
        top: calc(-1px - (var(--tab-margin-block) * 2));
        border-top: 1px solid var(--pf-border-color-light);
        transition: inset-inline var(--pf-ts-15);
      }
      #tabbrowser-arrowscrollbox[overflowing][scrolledtoend] + &::before {
        inset-inline: var(--tab-inner-inline-margin) !important;
      }
    }
    &::after { visibility: collapse; }
  }
}
/* tabs overflow */
spacer:is([part="overflow-start-indicator"], [part="overflow-end-indicator"]) {
  background-image: none !important;
}
#tabbrowser-arrowscrollbox[orient="vertical"][overflowing]::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--pf-border-color-light);
  inset-inline: 0;
  transition: border-bottom-color var(--pf-ts-25);
}
#tabbrowser-arrowscrollbox[orient="vertical"][overflowing][scrolledtostart]::before {
  border-bottom-color: transparent;
}

/* tabs */
.tabbrowser-tab {
  padding-block: 0 !important;

  &:not([pinned]) {
    &[pending] .tab-content {
      opacity: 0.5;
    }
    #tabbrowser-tabs[orient="vertical"] & {
      .tab-background[selected] {
        animation: pf-tab-select var(--pf-ts-25) var(--pf-easing-bounce);
      }
      .tab-stack {
        transition: scale var(--pf-ts-15);

        &:hover:active:not(:has(.tab-audio-button:active, .tab-close-button:active)) { scale: 0.985; }
      }
    }
    #tabbrowser-tabs[orient="vertical"]:not([expanded]) & .tab-close-button {
      top: 1px !important;
      outline: none !important;
    }
    &:not(:hover) .tab-close-button { display: none !important; }
  }
  &[titlechanged] {
    .tab-icon-image {
      animation: pf-tab-icon-bounce var(--pf-ts-50) 0s 3;
    }
    .tab-content { background-image: none !important; }
  }
}
.tab-background {
  background-image: none !important;
  background-clip: unset !important;
  border: none !important;
  outline: none !important;

  &[multiselected]:not([selected]) {
    --tab-background-color-selected: var(--pf-toolbarbutton-background-color-hover);
    --tab-box-shadow-selected: none;
  }
  &:not([selected], [multiselected]) {
    transition: var(--pf-ts-15);
  }
  @media not -moz-pref("parfait.tabs.groups.fx-colors-on-folders") {
    --dragover-tab-group-color: var(--pf-toolbarbutton-background-color-hover) !important;
    --dragover-tab-group-color-pale: var(--dragover-tab-group-color) !important;
    --dragover-tab-group-color-invert: var(--dragover-tab-group-color) !important;
  }
}
.tab-icon-image {
  border-radius: var(--pf-favicon-border-radius);

  &:not([src]),
  &:-moz-broken {
    content: var(--pf-icon-square) !important;
    fill: var(--pf-favicon-background-color) !important;
  }
}
.tab-close-button,
.tab-audio-button {
  transition: scale var(--pf-ts-15);

  &:hover:active { scale: 0.9175; }
}
#tabbrowser-tabs[expanded] .tab-close-button {
  border-radius: var(--pf-border-radius-sm) !important;
}
.tab-audio-button {
  background: no-repeat center var(--pf-icon-audio-fill-12);
  fill: currentColor;
  -moz-context-properties: fill;
  --button-icon-fill: transparent;

  &[muted] {
    background-image: var(--pf-icon-audio-mute-fill-12);
  }
  &[activemedia-blocked] {
    background-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-circle-12.svg");
  }
}
.tab-icon-overlay[soundplaying] {
  list-style-image: var(--pf-icon-audio-fill-12) !important;
}
.tab-icon-overlay[muted] {
  list-style-image: var(--pf-icon-audio-mute-fill-12) !important;
}
@keyframes pf-tab-icon-bounce {
  0%, 100% { transform: translateY(0px) scale(1); }
  50% { transform: translateY(-8px) scale(1.1); }
}
@keyframes pf-tab-select {
  0%   { scale: 1.025 1.1; }
  100% { scale: 1; }
}

/* pinned tabs */
#pinned-tabs-container[orient="vertical"] {
  --tab-pinned-margin-inline-expanded: calc(var(--tab-margin-block) * 2);
  --tab-pinned-min-width-expanded: calc(56px + var(--tab-pinned-margin-inline-expanded));

  @media not -moz-pref("sidebar.visibility", "expand-on-hover") {
    #tabbrowser-tabs[expanded] & {
      margin: calc(var(--tab-margin-block) * -1);
      --tab-min-height: var(--pf-tab-pinned-height);
      --tab-height-with-margin-padding: calc(var(--tab-min-height) + (var(--tab-pinned-margin-inline-expanded) * 2));

      .tab-background {
        --tab-margin-block: var(--tab-pinned-margin-inline-expanded);
        --tab-inner-inline-margin: var(--tab-pinned-margin-inline-expanded);
      }
    }
  }
  .tabbrowser-tab:not(:hover) > .tab-stack > .tab-background:not([selected], [multiselected]) {
    background-color: var(--pf-toolbarbutton-background-color) !important;
  }
}
#tabbrowser-tabs[orient="vertical"] #pinned-drop-indicator {
  display: flex !important;
  margin-bottom: calc(var(--tab-margin-block) * -1);
  transition: height var(--pf-ts-15) var(--pf-easing-sidebar) !important;

  &:not([visible]) {
    opacity: 0;
    pointer-events: none;
    height: 0 !important;
  }
}

/* container tabs */
.tab-context-line {
  background: var(--identity-stroke-color) !important;
  opacity: 0.75;
}
#tabbrowser-tabs[orient="vertical"] .tabbrowser-tab {
  &:not([pinned]) .tab-background {
    flex-direction: row !important;

    .tab-context-line {
      width: 2px !important;
      height: var(--icon-size) !important;
      margin-block: auto !important;
      margin-inline-start: 0 !important;
    }
  }
  &[pinned] .tab-context-line {
    order: 1;
    width: var(--icon-size) !important;
    margin-inline: auto !important;
  }
}
#tabbrowser-tabs[orient="horizontal"] .tab-context-line {
  border-block-end: 0 !important;
  --tab-context-line-inline-offset: var(--tab-border-radius);
  --tab-context-line-block-offset: 0;
}

/* split tabs */
tab-split-view-wrapper {
  margin-inline: var(--tab-overflow-clip-margin) !important;
  margin-block: var(--tab-margin-block);
  padding: 0 !important;
  gap: 3px !important;
  transition: max-height, opacity, margin-left, background-color;
  transition-duration: var(--pf-ts-15);
  --pf-split-divider-border-color: var(--pf-border-color);
  --split-view-tab-padding-inline: 0;

  &:not([multiselected]:not([hasactivetab]))::before {
    content: "";
    width: 1px;
    position: absolute;
    inset-inline-start: 50%;
    inset-block: calc((var(--tab-min-height) - var(--icon-size)) / 2);
    background-color: var(--pf-split-divider-border-color);
  }
  @media not -moz-pref("sidebar.visibility", "hide-sidebar") {
    #tabbrowser-tabs[orient="vertical"]:not([expanded]) &::before {
      width: calc(var(--tab-min-height) - var(--icon-size));
      height: 1px;
      inset-block: 50% 0;
      inset-inline: calc(var(--icon-size) / 2) 0;
    }
  }
  #tabbrowser-tabs[orient="horizontal"] tab-group[collapsed] &:not([hasactivetab]) {
    margin-inline: 0 !important;
  }
  #tabbrowser-tabs[orient="vertical"] & {
    margin-inline: var(--tab-inner-inline-margin) !important;
  }
  #tabbrowser-tabs[orient="vertical"][expanded] & {
    grid-template-columns: 1fr 1fr !important;
  }
  &[hasactivetab] {
    background-color: var(--tab-background-color-selected) !important;
    box-shadow: var(--tab-box-shadow-selected);
    --pf-split-divider-border-color: var(--pf-border-color-light);
  }
  .tab-background {
    min-height: var(--tab-min-height) !important;
    margin-inline: 0 !important;
    --tab-box-shadow-selected: none;

    &:not([multiselected]) {
      background-color: transparent !important;
    }
  }
  .tab-content {
    --space-medium: var(--pf-tab-icon-end-margin);
  }
  .tabbrowser-tab {
    border: 0 !important;
  }
}

/* tab groups */
#tabbrowser-tabs[orient="vertical"] {
  tab-group {
    /* tg: colors */
    --pf-tab-group-icon-background-color: color-mix(in srgb, var(--toolbar-background-color), var(--pf-contrast-color-invert) 95%);
    --pf-tab-group-icon-stroke-color: color-mix(in srgb, currentColor, var(--pf-contrast-color-invert) 10%);
    --pf-tab-group-drag-background-color: color-mix(in srgb, var(--pf-accent-primary-color), transparent 80%);
    --tab-group-line-color: var(--pf-tab-group-icon-stroke-color) !important;

    @media -moz-pref("parfait.background.accent-color") {
      --pf-tab-group-icon-background-color: color-mix(in srgb, var(--pf-accent-color), var(--pf-contrast-color-invert) 92%);
      --pf-tab-group-icon-stroke-color: color-mix(in srgb, var(--pf-accent-color), var(--pf-contrast-color));
      --pf-tab-group-drag-background-color: color-mix(in srgb, var(--pf-accent-color), transparent 70%);
      --tab-group-line-color: color-mix(in srgb, var(--pf-accent-color), var(--pf-tab-group-icon-stroke-color) 60%) !important;
    }
    @media -moz-pref("parfait.tabs.groups.fx-colors-on-folders") {
      --pf-tab-group-icon-background-color: color-mix(in srgb, var(--tab-group-color), var(--pf-contrast-color-invert) 92%);
      --pf-tab-group-icon-stroke-color: color-mix(in srgb, var(--tab-group-color), var(--pf-contrast-color) 25%);
      --pf-tab-group-drag-background-color: color-mix(in srgb, var(--tab-group-background-color), transparent 80%);
      --pf-tab-group-text-color: var(--pf-tab-group-icon-stroke-color);
      --tab-group-line-color: var(--tab-group-background-color) !important;
    }
    /* tg: tabs */
    & > .tabbrowser-tab {
      margin-inline-start: 0 !important;

      & > .tab-stack {
        max-height: calc(var(--tab-min-height) + (var(--tab-margin-block) * 2));
        margin-inline-start: var(--pf-tab-group-indent-1, 0px);
        transition: all var(--pf-ts-15) !important;
      }
    }
    tab-split-view-wrapper {
      max-height: calc((var(--tab-min-height) + (var(--tab-margin-block) * 2)) * 2);
      margin-inline-start: calc(var(--pf-tab-group-indent-1, 0px) + var(--tab-inner-inline-margin)) !important;
    }
    &[collapsed] > .tabbrowser-tab:not([selected]) {
      display: unset !important;
      pointer-events: none;

      & > .tab-stack {
        max-height: 0;
        opacity: 0;
      }
    }
    &[collapsed] > tab-split-view-wrapper:not([hasactivetab]) {
      display: grid !important;
      pointer-events: none;
      max-height: 0;
      opacity: 0;
      margin: 0;

      & > .tab-stack { opacity: 1; }
    }
  }
  #sidebar-container[hidden] &,
  &[expanded] {
    --pf-tab-group-padding-right: var(--tab-inner-inline-margin);
    --pf-tab-group-overflow-mask: linear-gradient(to left, transparent, var(--color-black) 1em);
    --pf-tab-group-indent-1: var(--pf-tab-group-indent);
    --tab-group-line-thickness: 0;
  }
  .tab-group-label-container {
    margin: 0 !important;
    padding: var(--tab-margin-block) var(--tab-inner-inline-margin) !important;

    tab-group:not([collapsed]) > &::after {
      inset-block-start: var(--tab-margin-block) !important;
    }
    &:has(.tab-group-label[dragover-groupTarget]) {
      background-color: var(--pf-tab-group-drag-background-color);
    }
  }
  .tab-group-label-hover-highlight {
    margin: 0 !important;
    padding-inline: 0 var(--pf-tab-group-padding-right, 0) !important;
    border-radius: var(--tab-border-radius) !important;
    transition: var(--pf-ts-15);

    &:hover {
      background-color: var(--pf-toolbarbutton-background-color-hover);
    }
  }
  .tab-group-label {
    display: flex;
    align-items: center;
    position: relative;
    width: 100% !important;
    max-width: 100% !important;
    height: var(--tab-min-height) !important;
    padding-inline: 0 !important;
    font-size-adjust: unset !important;
    line-height: unset !important;
    background-color: transparent !important;
    color: var(--pf-tab-group-text-color, var(--toolbox-text-color)) !important;
    outline: none !important;
    box-shadow: none !important;
    mask-image: var(--pf-tab-group-overflow-mask, none);
    border-radius: var(--tab-border-radius) !important;

    /* tg: folder icon */
    &::before {
      content: "";
      min-width: 22px;
      height: 22px;
      margin-inline: calc((var(--tab-min-height) - 22px) / 2);
      background: no-repeat 0 0 / 22px var(--pf-icon-folder-out);
      fill: var(--pf-tab-group-icon-stroke-color);
      transition: transform var(--pf-ts-25) var(--pf-easing-folder);
      -moz-context-properties: fill;
    }
    &::after {
      content: "";
      width: 18px;
      height: 14px;
      position: absolute;
      left: calc((var(--tab-min-height) - 18px) / 2);
      margin-block-start: 4px;
      border-radius: 3px;
      background: var(--pf-tab-group-icon-background-color) var(--pf-icon-folder-dots) center no-repeat;
      box-shadow: inset 0 0 0 1.5px var(--pf-tab-group-icon-stroke-color);
      fill: var(--pf-tab-group-icon-stroke-color);
      fill-opacity: 0;
      transition: transform var(--pf-ts-25) var(--pf-easing-folder), fill-opacity var(--pf-ts-15);
      -moz-context-properties: fill, fill-opacity;
    }
    &:is([aria-expanded="true"], [dragover-groupTarget]) {
      &::before { transform: skewX(16deg) scale(0.85); }
      &::after { transform: skewX(-16deg) scale(0.85) translate(4.5px, 0px); }
    }
    /* tg: folder status indicators */
    tab-group[collapsed][hasactivetab] &::after {
      fill-opacity: 1;
    }
    tab-group[collapsed]:not([hasactivetab]):has(> .tabbrowser-tab[soundplaying]) &::after {
      background-image: var(--pf-icon-audio-fill-12);
      background-size: 8px;
      fill-opacity: 1;
    }
  }
}
#tabbrowser-tabs[orient="horizontal"] {
  tab-group {
    --tab-group-line-thickness: 1px;
    --tab-group-line-toolbar-border-distance: 3px;
  }
  .tab-group-label {
    background-color: color-mix(in srgb, var(--tab-group-color), transparent var(--pf-tab-group-background-alpha)) !important;
    color: var(--tab-group-color) !important;
    border-radius: var(--tab-border-radius) !important;
    --pf-tab-group-background-alpha: 87%;
    --tab-group-label-size: var(--tab-group-label-height);
    --tab-group-label-height: calc(var(--tab-min-height) - var(--pf-navbar-padding-block));

    &:hover {
      --pf-tab-group-background-alpha: 80%;
    }
  }
  tab-group > tab-split-view-wrapper::after {
    content: "";
    height: var(--tab-group-line-thickness);
    position: absolute;
    border-bottom: 1px solid var(--tab-group-line-color);
    inset-inline: calc(var(--tab-overflow-clip-margin) * -1);
    inset-block-end: calc((var(--tab-group-line-thickness) + var(--tab-group-line-toolbar-border-distance)) * -1) !important;
  }
  tab-split-view-wrapper .tab-group-line { display: none !important; }
}
.tab-group-overflow-count-container { display: none !important; }

/* tab notes */
#tabbrowser-tabs:is([orient="horizontal"], [expanded]) .tabbrowser-tab[tab-note]:not([pinned]) {
  --tab-min-width-extra-icons: 0px !important;

  .tab-note-icon-overlay { display: revert !important; }
}
.tab-note-icon { display: none; }
